[package]
name = "casper"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-trait = { workspace = true }
comm = { path = "../comm" }
crypto = { path = "../crypto" }
graphz = { path = "../graphz" }
models = { path = "../models" }
rholang = { path = "../rholang" }
rspace_plus_plus = { path = "../rspace++" }
block-storage = { path = "../block-storage" }
shared = { path = "../shared" }
tokio = { workspace = true }
prost = { workspace = true }
lz4_flex = "0.11.3"
lazy_static = "1.5.0"
hex = { workspace = true }
dashmap = { workspace = true }
bincode = { workspace = true }
serde = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
byteorder = "1.5.0"
env_logger = "0.11.8"
rand = { workspace = true }
futures = { workspace = true }
uuid = "1.16.0"
itertools = { workspace = true }
regex = { workspace = true }
thiserror = { workspace = true }
# LFS Block Requester dependencies
num_cpus = "1.0"
async-stream = "0.3"
tokio-stream = "0.1"
humantime = "2.3.0"
tonic = { workspace = true }
eyre = { workspace = true }
metrics = "0.23"
proptest = "1.6.0"
tempfile = { version = "3.24.0", optional = true }

[dev-dependencies]
metrics-util = "0.17"
k256 = { version = "0.13.4", features = ["ecdsa"] }
serial_test = "3.1"
env_logger = "0.11.8"



[features]
# Default features - test-utils is included to ensure tests compile with test utilities enabled
# Note: test-utils code is guarded with #[cfg(feature = "test-utils")] so it won't affect production builds
# The test-utils module code won't be compiled unless explicitly used, even with the feature enabled
default = ["test-utils"]
# Feature to expose test utilities to other workspace members
# When enabled, exposes test utilities and enables required dependencies
# Automatically enabled for tests in this crate via default features
test-utils = ["tempfile"]

[build-dependencies]
